<% provide(:title, 'About') %>
<h1>About</h1>
<p>The Horse Show Webpage was created to provide an easy resource to find out dates, deadlines and other information about Horse Shows in the Northwest Iowa region.
</p>
