<div class="section section-header">
  <div class="parallax filter">
    <div class="image1"></div>
    <div class="container">
      <div class="content">
        <div class="title-area">
          <h1 class='title-modern'>Horse Show Connection</h1>
          <h3>Your one location for horse show information.</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <h2>Links to Horse Shows</h2>
        <div class="separator separator-danger">✻</div>
        <!-- <p class="description">Here's the links to your Horse Show information</p> -->
      </div>
    </div>
  </div>
</div>

<div class="section section-our-team-freebie">
  <div class="parallax">
    <div class="image2"></div>
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="title-area">
            <!-- <h2>Comments</h2>
            <div class="separator separator-danger">✻</div>
            <p class="description">Contribute to the information on this website
              by filling in the comments section with more horse show information or corrections
              to the website.  Thanks!
            </p> -->
          </div>
        </div>

        <div class="team">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-4">
                  <div class="card card-member">
                    <div class="content">
                      <div class="description">
                        <h3 class="title"><a href="http://www.aksarbenstockshow.com/", target="_blank">Aksarben</a></h3>
                        <p class="small-text">Sept 23-24, 2017</p>
                        <p class="description">
                          <p>Check-in </br>9/23/17 1:00-2:30p</br>9/24/17 7:00-8:00a</p>
                          <p><a href="http://d2w7gersd1ix5b.cloudfront.net/files.ashx?t=fg&rid=AkSarBenEvents&f=2017_AKSARBEN_Horse_Show_Schedule(1).pdf", target="_blank">Horse Show Schedule</a></p>
                          <p><a href="http://d2w7gersd1ix5b.cloudfront.net/files.ashx?t=fg&rid=AkSarBenEvents&f=2017_Premium_Book(1).pdf", target="_blank">Rules and Info (p. 45)</a></p>
                          <p><a href="http://www.aksarbenstockshow.com/p/getinvolved/381", target="_blank">Location, Hours &amp; Contact</a></p>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card card-member">
                    <div class="content">
                      <div class="description">
                        <h3 class="title"><a href="https://claycountyfair.com/", target="_blank">Clay County Fair</a></h3>
                        <p class="small-text">Sept 12-14, 2017</p>
                        <p class="description">
                          <p>Entries Due July 21</p>
                          <p>Check-in </br>9/13/17 9:00-10:00a</p>
                          <p><a href="https://claycountyfair.com/events/livestock/", target="_blank">Horse Show Schedule</a></p>
                          <p><a href="http://www.extension.iastate.edu/clay/sites/www.extension.iastate.edu/files/clay/2016%20District%20Horse.pdf", target="_blank">District Entry Form</a></p>
                          <p><a href="http://www.extension.iastate.edu/clay/sites/www.extension.iastate.edu/files/clay/2017%20Fair%20Book%20FINAL.pdf", target="_blank">Rules &amp; Info (p.35)</a></p>
                          <p><a href="http://www.extension.iastate.edu/clay/page/clay-county-fair-information", target="_blank">Contact</a></p>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card card-member">
                    <div class="content">
                      <div class="description">
                        <h3 class="title"><a href="http://plymouthcountyfair.org/", target="_blank">Plymouth County Fair</a></h3>
                        <p class="small-text">July 24, 27, 2017</p>
                        <p class="description">
                          <p>First Entry Deadline May 15</p>
                          <p>Second Entry Deadline July 14</p>
                          <p>Check-in </br>7/27/17 7:00-8:00a</p>
                          <p><a href="http://plymouthcountyfair.org/general-program", target="_blank">Fair Program</a></p>
                          <p><a href="http://plymouthcountyfair.org/contact-2", target="_blank">Location &amp; Contact</a></p>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card card-member">
                    <div class="content">
                      <div class="description">
                        <h3 class="title"><a href="http://www.iowastatefair.org/", target="_blank">Iowa State Fair</a></h3>
                        <p class="small-text">Aug 10-20, 2017</p>
                        <p class="description">
                          <p><a href="https://www.iowastatefairentry.org/login.aspx?ReturnUrl=/", target="_blank">Entries Due July 1</a></p>
                          <p>Check-in </br>9/13/17 9:00-10:00a</p>
                          <p><a href="http://www.iowastatefair.org/upl/downloads/competition/livestock-schedules/horse-barn-schedule.pdf", target="_blank">Horse Show Schedule</a></p>
                          <p><a href="http://www.iowastatefair.org/about/contact-us/", target="_blank">Location &amp; Contact</a></p>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="section section-small section-get-started">
    <div class="parallax filter">
        <div class="image3"</div>
        <div class="container">
            <div class="title-area">
                <h2 class="text-white">Do you want to work with us?</h2>
                <div class="separator line-separator">♦</div>
                <p class="description"> We are keen on creating a second skin for anyone with a sense of style! We design our clothes having our customers in mind and we never disappoint!</p>
            </div>

            <div class="button-get-started">
                <a href="#gaia" class="btn btn-danger btn-fill btn-lg">Contact Us</a>
            </div>
        </div>
    </div>
</div> -->
